<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.StudentMapper">

    <sql id="selectStudent">
        select sid,sname,sage,ssex,url from student
    </sql>

    <sql id="insertStudent">
        insert into student(sid,sname,sage,ssex,url) values
    </sql>


<!--    需要返回主键id需要加useGeneratedKeys="true"(默认自增),keyProperty="sid"(类中的属性名),keyColumn="sid"(表中的字段名)-->
    <insert id="insertStudent" parameterType="studnt">
        <include refid="insertStudent"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null and sid != ''">
                #{sid},
            </if>
            <if test="sname != null and sname != ''">
                #{sname},
            </if>
            <if test="sage != null">
                #{sage},
            </if>
            <if test="ssex != null and ssex != ''">
                #{ssex},
            </if>
            <if test="url != null and url != ''">
                #{url}
            </if>
        </trim>
    </insert>

    <insert id="insertStudentList" parameterType="list">
        <include refid="insertStudent"/>
        <foreach item="item" index="index" collection="list" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.sid != null and item.sid != ''">
                    #{item.sid},
                </if>
                <if test="item.sname != null and item.sname != ''">
                    #{item.sname},
                </if>
                <if test="item.sage != null">
                    #{item.sage},
                </if>
                <if test="item.ssex != null and item.ssex != ''">
                    #{item.ssex},
                </if>
                <if test="item.url != null and item.url != ''">
                    #{item.url}
                </if>
            </trim>
        </foreach>
    </insert>


    <update id="updateSrudent" parameterType="studnt">
        update student
        <trim prefix="set" suffixOverrides=",">
            <if test="sname != null and sname != ''">
                sname = #{sname},
            </if>
            <if test="sage != null">
                sage = #{sage},
            </if>
            <if test="ssex != null and ssex != ''">
                ssex = #{ssex},
            </if>
            <if test="url != null and url != ''">
                url = #{url}
            </if>
        </trim>
        <where>
            <if test="sid != null and sid != ''">
                and sid = #{sid}
            </if>
        </where>
    </update>


    <delete id="deleteSrudent" parameterType="int">
        delete from student
        <where>
            <if test="id != null and id != ''">
                and sid = #{id}
            </if>
        </where>
    </delete>

    <delete id="deleteSrudentByNameAndSex">
        delete form student
        where 1=1
        <if test="name != null and name != ''">
            and sname like concat('%', #{name}, '%')
        </if>
        <if test="sex != null and sex != ''">
            and ssex = #{sex}
        </if>
    </delete>


    <select id="selectList" resultType="mybatis.entry.Studnt">
        <include refid="selectStudent"/>
    </select>


    <select id="selectById" resultType="mybatis.entry.Studnt" parameterType="string">
        <include refid="selectStudent"/>
        where 1=1
        <if test="id != null and id != ''">
            and sid = #{id}
        </if>
    </select>


    <select id="selectBySexAndName" resultType="mybatis.entry.Studnt">
        <include refid="selectStudent"/>
        where 1=1
        <if test="sex != null and sex != ''">
            and ssex = #{sex}
        </if>
        <if test="name != null and name != ''">
            and sname = #{name}
        </if>
    </select>


    <select id="selectByIdAndName" resultType="mybatis.entry.Studnt">
        select * from student
        <where>
            <if test="id != null and id != ''">
                and sid = #{id}
            </if>
            <if test="name != null and name != ''">
                and sname = #{name}
            </if>
        </where>
    </select>
</mapper>